<h5>Exemplos de Pipes</h5>

<p>Título: {{ livro.titulo | uppercase | lowercase | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number:'1.1-1' }}</p>
<p>Páginas: {{ livro.numeroPaginas }}</p>
<p>Preço: {{ livro.preco | currency:'BRL':true }}</p>
<p>Data de lançamento: {{ livro.dataLancamento | date:'dd-MMM-yyyy' }}</p>
<p>Url: {{ livro.url }}</p>
<br>
<p>Livro: {{ livro | json }}</p>

<p>Existem {{ quantidade | plural:"aluno" }} na sala de aula</p>

<h5>Lista de livros</h5>

<input type="text" [(ngModel)]="filtro">

<input type="text" #novoValor>
<button type="button" (click)="addLivro(novoValor.value)">Add livro</button>

<h5>Pipe puro</h5>

<ul>
    <li *ngFor="let livro of livros | filtroArray:filtro">{{ livro }}</li>
</ul>

<h5>Pipe impuro</h5>

<ul>
    <li *ngFor="let livro of livros | filtroArrayImpuro:filtro">{{ livro }}</li>
</ul>

<p>{{ valorAsync | async }}</p>
<p>{{ valorAsync2 | async }}</p>