<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group" [ngClass]="aplicaCSSErro('nome')">
    <div class="col-sm-12">
      <label for="nome" class="control-label">Nome</label>
    </div>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Nome">
      <app-campo-control-erro [mostrarErro]="verificaValidTouched('nome')" msgErro="Nome é obrigatório."></app-campo-control-erro>
    </div>
  </div>

  <div class="form-group" [ngClass]="aplicaCSSErro('email')">
    <div class="col-sm-12">
      <label for="email" class="control-label">Email</label>
    </div>
    <div class="col-sm-12">
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="nome@email.com">
      <app-campo-control-erro [mostrarErro]="verificaEmailInvalido()" msgErro="Email inválido."></app-campo-control-erro>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
  <button type="button" class="btn btn-danger" (click)="resetar()">Cancelar</button>
  <app-form-debug [form]="formulario"></app-form-debug>
</form>
