<!--<app-diretiva-ngif></app-diretiva-ngif>-->
<!--<app-diretiva-ngswitch></app-diretiva-ngswitch>-->
<!--<app-diretiva-ngswitch></app-diretiva-ngswitch>-->
<!--<app-diretiva-ngfor></app-diretiva-ngfor>-->
<!--<app-diretiva-ngclass></app-diretiva-ngclass>-->
<!--<app-diretiva-ngstyle></app-diretiva-ngstyle>-->
<!--<app-operador-elvis></app-operador-elvis>-->
<!--<app-exemplo-ng-content>
    <h2 class="titulo">Título</h2>
    <p class="corpo">
        Corpo da mensagem
    </p>
</app-exemplo-ng-content>-->
<app-diretivas-customizadas></app-diretivas-customizadas>